
li:hover{
    background: rgb(158, 54, 12);
    cursor:pointer;
    text-decoration-line: line-through ;
}

.letrasCont{
    font-size: 40px;
    color: rgb(246, 245, 242);
    background: rgb(43, 43, 131);
    border-radius: 20px;
}